#game-container {
    text-align: center;
    margin-top: 20px;
}

#clicker-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}


#clicker-button2 {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}
#score-display {
    margin-top: 20px;
    font-size: 24px;
}
